<!DOCTYPE html>
<html lang="pr-br" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <section class="r-main">
        <div class="r-main__content wrapper">
            <h1>Cadastro</h1>
            <div class="r-main__form">
                <form th:action="@{/cadastro}" th:object="${registerUserForm}" method="POST" >
                    <div class="row">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
                    </div>
                    <label>
                        <input type="text" th:field="*{name}" id="name" name="name" placeholder="Nome">
                    </label>
                    <label>
                        <input type="email" th:field="*{email}" id="email" name="email" placeholder="E-mail" required>
                    </label>
                    <label>
                        <input type="password" th:field="*{password}" id="password" name="password" placeholder="Senha">
                    </label>
                    <div class="row align-items-center mb-5">
                        <label class="col-auto col-form-label" for="role">Você é um restaurante?</label>
                        <div class="col-auto">
                            <select class="form-select form-select-sm" th:field="*{role}" id="role" name="role">
                                <option value="user" selected>Não</option>
                                <option value="admin">Sim</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">Cadastrar</button>
                    <div class="text-center">
                        <p>Já possui uma conta? Entre <a th:href="@{/login}">aqui</a>.</p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script th:src="@{/css/bootstrap.min.css}"></script>    
</body>
</html>
