<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
    <title>Detalhes da reserva - BistroControl</title>
</head>
<body>
    <main>

        <section class="p-heading">
            <figure class="p-heading__pic">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="">
            </figure>
            <div class="p-heading__info">
                <h1 th:utext="${'<span>Bem vindo(a)</span>,' + #authentication.getPrincipal().getName() + '!'}"></h1>
            </div>
        </section>

        <!-- menu -->
        <div>
            <ul>
                <li>
                    <a th:href="@{/admin}">Consulta Reserva</a>
                </li>
                <li>
                    <a th:href="@{/logout}">Sair</a>
                </li>
            </ul>
        </div>
    
        <!-- reserve details -->
        <div>
            <ul>
                <li th:text="${ 'Mesa: ' + codigoMesa}">Código da reserva</li>
                <li th:text="${ 'Hora: ' + horaReserva}">Hora da reserva</li>
                <li th:text="${ 'Data: ' + dataReserva}">Data da reserva</li>
                <li th:text="${ 'Cliente: ' + cliente}">Cliente da reserva</li>
            </ul>
            <div>
                <a th:href="@{/admin/cancelar-reserva/{id}(id=${codigoReserva})}">Fim da reserva</a>
                <a th:href="@{/admin/cancelar-reserva/{id}(id=${codigoReserva})}">Cancelar</a>
            </div>
        </div>

    </main>
</body>
</html>