<!DOCTYPE html>
<html 
    th:lang="${#locale}" th:fragment="layout (title, main)"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="dark">
    <main th:replace="${main}">
    </main>
</body>
</html>