<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/pages/login.css}">
</head>
<body>
    <section class="l-main">
        <div class="l-main__content wrapper">
            <h1>Login</h1>
            <div class="l-main__form">
                <form th:action="@{/login}" method="POST">
                    <label for="">
                        <input type="email" id="email" name="email" placeholder="E-mail">
                    </label>
                    <label for="">
                        <input type="password" id="password" name="password" placeholder="Senha">
                    </label>
                    <div th:if="${param.error}" class="row alert alert-danger">    
                        E-mail/senha inválido.
                    </div>
                    <button type="submit">Entrar</button>
                    <div class="text-center">
                        <p><a th:href="@{/cadastro}">Não tem uma conta? Criar agora</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script th:src="@{/css/bootstrap.min.css}"></script>    
</body>
</html>
