<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="dark">
    <div class="p-main wrapper">
        <a class="logout" th:href="@{/logout}">Sair</a>
        <section class="p-heading">
            <figure class="p-heading__pic">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="">
            </figure>
            <div class="p-heading__info">
                <h1 th:utext="${'<span>Bem vindo(a)</span>,' + #authentication.getPrincipal().getName() + '!'}"></h1>
                <span>Selecione a mesa</span>
            </div>
        </section>
        <div class="p-tables">
            <form action="/cliente/reservar" th:object="${newReserveDto}" method="post">
                <div class="row">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"></div>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></div>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                    <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
                </div>

                    <h3>Mesas</h3>
                    <div class="image-radio-group">
                        <div class="item">
                            <input type="radio" id="seats1" name="seats" value="2" th:field="*{seats}">
                            <label for="seats1">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">1</span>
                        </div>

                        <div class="item">
                            <input type="radio" id="seats2" name="seats" value="4" th:field="*{seats}">
                            <label for="seats2">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">2</span>
                        </div>

                        <div class="item">
                            <input type="radio" id="seats3" name="seats" value="6" th:field="*{seats}">
                            <label for="seats3">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">3</span>
                        </div>

                        <div class="item">
                            <input type="radio" id="seats4" name="seats" value="8" th:field="*{seats}">
                            <label for="seats4">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">4</span>
                        </div>

                        <div class="item">
                            <input type="radio" id="seats5" name="seats" value="10" th:field="*{seats}">
                            <label for="seats5">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">5</span>
                        </div>

                        <div class="item">
                            <input type="radio" id="seats6" name="seats" value="12" th:field="*{seats}">
                            <label for="seats6">
                                <img width="100" height="100" th:src="@{/images/table.png}" class="unchecked" alt="Option 1 Unchecked">
                            </label>
                            <span class="number">6</span>
                        </div>
                    </div>

                    <h3>Horários</h3>

                    <div class="times-radio-group">
                        <div class="item">
                            <input type="radio" id="time1" name="time" value="18:00" th:field="*{time}">
                            <label for="time1">
                                <span class="checked btn btn-outline-light">18:00</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time2" name="time"  value="18:30" th:field="*{time}">
                            <label for="time2">
                                <span class="checked btn btn-outline-light">18:30</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time3" name="time"  value="19:00" th:field="*{time}">
                            <label for="time3">
                                <span class="checked btn btn-outline-light">19:00</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time4" name="time"  value="19:30" th:field="*{time}">
                            <label for="time4">
                                <span class="checked btn btn-outline-light">19:30</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time5" name="time"  value="20:00" th:field="*{time}">
                            <label for="time5">
                                <span class="checked btn btn-outline-light">20:00</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time6" name="time"  value="20:30" th:field="*{time}">
                            <label for="time6">
                                <span class="checked btn btn-outline-light">20:30</span>
                            </label>
                        </div>

                        <div class="item">
                            <input type="radio" id="time7" name="time"  value="21:00" th:field="*{time}">
                            <label for="time2">
                                <span class="checked btn btn-outline-light">21:00</span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="date" id="date" name="date" lang="pt-BR" th:field="*{date}"> 
                    </div>

                    <button class="btn btn-success btn-lg" type="submit" th:text="${success != null} ? ${success} : 'Reservar'">Reservar</button>

                    <a class="control" th:href="@{/cliente/controle-da-reserva}">Controle de Reservas</a>
            </form>
        </div>
    </div>
    <script th:src="@{/css/bootstrap.min.css}"></script>
</body>
</html>